[user]
	name = Craig Ferguson
	email = craigferguson@monzo.com
	signingKey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC8lDtIQYAY9sskLou7Cz0KXaajmGcOn0HNd+z0nvYBL+7nhmI3RW4oK37Ca+LEFnzh7WX7tWLtroClxtB+pMrU8uPP8OTjsUWBeE9jhvjiFbffKVS/PDmXMolVgM87HFTrzuVD0FidBtl7uDMXzwuvz9sg+rJH8XS/QFlaYXu8GFZKZTofqo12fd0jVt/jDpSd0yJhMqcJhKEPp+a0K+BbacAYNGOyo50tIl90mV9kkgMNsoPc/vc+12Zp8dkB7po01WE3HPWUahhMktUHUZYN22VOPlfquzs5yY0ArSDre9mzroNKQ3Y6ISfJWt9e6CoWrO/P8DTnfrMmJSqJGyU6yQW+0UI1MQUgcu+UgYaBwRct/h4tHqqZiO86s+DGDlMmfPBRYNlWO7gTQhlkJM18v6gKwvInmxBqrmlTItLj+ozPe+1CXvFHBIYs1tNmwsR+BH9ceOUARMQxGIPUosEeaJ8ZyrEJ5pm/7Q2GYVMbd4PBSqHx6UpADpoiGl7rFwaiO+JSLULmsUStSz5v2sbVEgOxtQMqI7yX4Q2kdLneVRa/1hKb70aN+o0zOOHaxN/6pcM6zvOVgVIgQcXzNVs01gFZewTmueMoKVC8wf/JgAbBRhvOR8ppiwg1aOvPKn9XaN8bjJA8+CO/akdnN24hxvGvg7uU9Q17OrtJbEi33Q== cardno:17 667 442

[url "ssh://git@github.com/monzo/"]
	insteadOf = https://github.com/monzo/


[color]
	ui = true

[alias]
	# General
	pl = pull
	ps = push
	pf = push --force
	co = checkout
	df = diff
	dfc = diff --cached
	dfs = diff --staged
	cl = clone
	f = fetch
	fa = fetch --all
	mg = merge
	su = submodule update
	rs = reset
	
	# Logging
	l = "log --graph --all --pretty=format:\"%C(yellow)%h%Creset %Cgreen%an%Creset %s%C(bold blue)%d\""
	oga = "log --oneline --graph --all"
	lg = !"git lg1"
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg3 = log --graph --abbrev-commit --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --all

	# Status
	st = status -s
	s = status

	# Commit
	c = commit
	cm = commit -m
	cam = commit -a -m
	cne = commit --amend --no-edit --allow-empty-message

[core]
	editor = nvim
	# pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
[rebase]
	autoStash = true
	autoSquash = true
	updateRefs = true

[pull]
	rebase = true

[push]
	default = simple
	autosetupremote = true

[commit]
	gpgsign = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[grep]
	lineNumber = true
[credential]
	helper = store
[advice]
	detachedHead = false
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/

[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /Users/craigferguson/.config/git/allowed_signers
[tag]
	gpgsign = true
[maintenance]
	repo = /Users/craigferguson/src/github.com/monzo/wearedev
	repo = /Users/craigferguson/src/github.com/monzo/terraform
