colours/out

shortcuts/out

i3/config

polybar/out

ranger/shortcuts.conf
ranger/bookmarks
ranger/history
ranger/tagged

settings/user.conf

xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/xmonad.state

vis/colors

*.swp
.cache*
__pycache__
.pytest_cache
venv/
*.log
