* {
    accent: red;
    background: rgba(0, 0, 0, 0.50);
    transparent: rgba(0, 0, 0, 0);

	bg-color: #10101088;

    normal-background: @transparent;
    normal-foreground: @accent;
    urgent-background: @transparent;
    urgent-foreground: @accent;
    active-background: @transparent;
    active-foreground: @accent;
    selected-normal-background: @accent;
    selected-normal-foreground: @background;
    selected-urgent-background: @accent;
    selected-urgent-foreground: @background;
    selected-active-background: @accent;
    selected-active-foreground: @background;
    alternate-normal-background: @transparent;
    alternate-normal-foreground: @accent;
    alternate-active-background: @transparent;
    alternate-active-foreground: @active-foreground;
    alternate-urgent-background: @transparent;
    alternate-urgent-foreground: @urgent-foreground;
    border-color: @background;
    separatorcolor: @accent;
    background-color: @transparent;
    spacing: 10;
}

#window {
    background-color: @background;
    border: 0;
    padding: 0;
}

#mainbox {
    border: 0;
    padding: 30%;
}

#message {
    border: 2px 0px 0px;
    border-color: @separatorcolor;
    padding: 10 1% 10;
}

#textbox {
    text-color: @accent;
	margin: 100px;
}

#listview {
    fixed-height: 0;
    border-color: @separatorcolor;
    spacing: 10px;
    padding: 10 1% 10;
}

#element {
    border: 0;
	font: "Alte DIN 1451 Mittelschrift 13";
    padding: 10 10 10;
}

#element.normal.normal {
    background-color: @normal-background;
    text-color: @normal-foreground;
}

#element.normal.urgent {
    background-color: @urgent-background;
    text-color: @urgent-foreground;
}

#element.normal.active {
    background-color: @active-background;
    text-color: @active-foreground;
}

#element.selected.normal {
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}

#element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color: @selected-urgent-foreground;
}

#element.selected.active {
    background-color: @selected-active-background;
    text-color: @selected-active-foreground;
}

#element.alternate.normal {
    background-color: @alternate-normal-background;
    text-color: @alternate-normal-foreground;
}

#element.alternate.urgent {
    background-color: @alternate-urgent-background;
    text-color: @alternate-urgent-foreground;
}

#element.alternate.active {
    background-color: @alternate-active-background;
    text-color: @alternate-active-foreground;
}

#scrollbar {
    width: 4px;
    border: 0;
    handle-width: 8px;
    padding: 0;
}

#sidebar {
    border: 2px 0px 0px;
    border-color: @separatorcolor;
}

#button.selected {
    background-color: @selected-normal-background;
    text-color: @selected-normal-foreground;
}

#inputbar {
    spacing: 0;
    text-color: @normal-foreground;
    padding: 10px;
	margin: 20px;
	border: 2px;
	background-color: @bg-color;
	border-color: @accent;
}

#case-indicator {
    spacing: 0;
    text-color: @normal-foreground;
}

#entry {
    spacing: 0;
    text-color: @normal-foreground;
	font: "Open Sans 13";
	text-color: white;
	margin: 5px 0px 0px 5px;
}

#prompt, button {
    spacing: 0;
    text-color: @normal-foreground;
	font: "Alte DIN 1451 Mittelschrift gepraegt 20";
	color: @accent;
}

