* {
  /* Make text color white and background fully transparent */
  text-color:        White;
  background-color:  rgba(0,0,0,0);

  accent: red; 
  fc-color: #39393A;
  bg-color: #101010;
  fc-color-trans: #39393AC5; 
  bg-color-trans: #101010F0;

  font: "Open Sans 11";
}

#window {
  fullscreen:    true;
  location:      west;
  anchor:        west;
  border: 0;
  transparency:  "real";

  orientation:  horizontal;
  children:     [mainbox, dummy];
}

/* First container */
#mainbox {
  expand:            false;
  background-color:  @bg-color-trans;
  spacing:           0.8em;
  border: 0px 4px 0px 4px;
  border-color: @accent;
}

/* Dummy container */
#dummy { 
  expand: true; 
}

#sidebar {
}

#button {
  padding:    10px;
}

#button selected {
  font:              "Open Sans SemiBold 11";
  background-color:  @fc-color-trans;
}

#inputbar {
  background-color:  @bg-color;
  padding:           10px;
  margin: 20px;
  spacing:           5px;
  border: 2px;
  border-color: @accent;
}

#prompt {
	font: "Alte DIN 1451 Mittelschrift gepraegt 20";
	color: @accent;
/* font: "Open Sans SemiBold Italic 11"; */
}

#entry {
  font: "Open Sans 11";
  width: 15em;
}
/* ================================================= */


/* ================================================= */
/* List view                                         */
/* ================================================= */
#listview {
  /*spacing: 0.5em;*/
}

#element {
  font:     "Open Sans 13";
  padding:  12px 1.5em 12px 14px;
}

#element selected normal {
  background-color: @fc-color-trans;
}

#element normal active {
  background-color: @fc-color-trans;
}

#element normal urgent {
  background-color: Orange;
}

#element alternate normal {
}

#element alternate active {
  text-color: @focus-col;
}

#element alternate urgent {
  background-color: OrangeRed;
}

#element selected active {
  background-color:  @fc-color-trans;
}

#element selected urgent {
  background-color:  DarkOrange;
}
